praw
sqlalchemy
alembic
pymysql
pillow
requests
distance
celery[redis]==4.3.0
numpy
dataclasses
flower
eventlet
ImageHash
annoy
RedLock
influxdb
requests
gensim
ffmpeg-python
git+https://github.com/ytdl-org/youtube-dl.git
wavio
pydub==0.20.0
numpy
matplotlib
scipy
numpy
kombu==4.6.3