praw
sqlalchemy
alembic
pymysql
pillow
requests
distance
celery[redis]
dataclasses
flower
eventlet
ImageHash
RedLock
influxdb-client
gensim
ffmpeg-python
wavio
pydub==0.20.0
numpy
matplotlib
scipy
falcon
waitress
falcon-cors
python-Levenshtein
apscheduler
gunicorn
cryptography
google-cloud-vision
opencv-python
imutils
pydantic
aiohttp
pytest-asyncio
python-logging-discord-handler
sentry-sdk
pytesseract