praw
sqlalchemy
alembic
pymysql
pillow
requests
distance
celery[redis]==4.4.7
numpy
dataclasses
flower
eventlet
ImageHash
annoy
RedLock
influxdb
requests
gensim
ffmpeg-python
youtube-dl
wavio
pydub==0.20.0
numpy
matplotlib
scipy
numpy
pytesseract
