falcon
gunicorn
requests
falcon_cors
sqlalchemy
pymysql
python-Levenshtein
distance
influxdb
imagehash
praw
opencv-python
imutils
matplotlib
pytesseract
falcon_multipart
redis
redlock
celery[redis]==4.4.7